body {
    background-image: url("finalBG.jpg");
    padding-top: 2%;
    background-size: cover;
}


h1 {
    background-color: aliceblue;
    padding: 4%;
    font-size: 45px;
    text-align: center;

}

#guess {
    font-size: 50px;
    border-radius: 25px;
    background-color: aliceblue;
    padding: 1%;
    text-align: center;

}

#whosaid {
    font-size: 40px;
    border-radius: 25px;
    margin: 1%;

}

.pic {
    height: 50vh;
    width: 2px;
}

.submitbtn {
    font-size: 35px;
    border-radius: 25px;
    padding: 15px;
    margin: 1%;
    background-color: beige;
}

.check {
    background-color: aliceblue;
    text-align: center;
    font-size: 35px;
}

#refresh {
    height: 40px;
    width: 100px;
    border-radius: 25px;
    margin-left: 45%;
}