body {
    background-image: url("bg34.png");
    padding-top: 2%;
    background-size: cover;
}


h1 {
    background-color: rgb(214, 178, 228);
    padding: 2%;
    font-size: 55px;
    text-align: center;
    margin-top: 10px;

}

#guess {
    font-size: 50px;
    border-radius: 25px;
    background-color: rgb(252, 191, 191);
    padding: 1%;
    text-align: center;

}

#whosaid {
    font-size: 40px;
    border-radius: 25px;
    margin: 1%;

}

.pic {
    height: 50vh;
    width: 2px;
}

.submitbtn {
    font-size: 35px;
    border-radius: 25px;
    padding: 15px;
    margin: 1%;
    background-color: rgb(252, 196, 158);
}

.check {
    background-color: rgb(177, 196, 247);
    text-align: center;
    font-size: 35px;
}

#refresh {
    height: 9%;
    width: 20%;
    border-radius: 25px;
    margin-left: 25%;
    font-size: 35px;
}

.giveupbtn {
    height: 9%;
    width: 20%;
    font-size: 35px;
    border-radius: 25px;
    margin-left: 19%;
    background-color:rgb(255, 103, 134);
}

#gaveup {
    background-color: rgb(189, 243, 158);
    text-align: center;
    font-size: 35px;
}

.label {
    font-size: 35px;
    background-color: rgb(214, 226, 241);
    padding: 1%;
}